<!DOCTYPE html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <!-- meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- identities -->
    <title>jamshout</title>
    <meta name="description" content="new music.">

    <!-- css -->
    <link rel="stylesheet" href="{% static "jamshout/web/css/bootstrap.css"%}">
    <link rel="stylesheet" href="{% static "jamshout/web/css/index.css" %}">
    <link rel="icon" href="{% static "jamshout/web/res/favicon.jpg" %}">
  </head>

  <body>

    <!-- navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
  		<div class="container">
  		  <img src="{% static "jamshout/web/res/logo.png" %}" id="jarIcon"></img>
  		  <h1>JAMSHOUT</h1>
  		  <span class="glyphicon glyphicon-flash" id="shoutIcon"></span>
  		</div>
    </nav>

    <!-- shout -->
    <div class="popup" id="shoutPopup">
      <span class ="glyphicon glyphicon-menu-left" id="shoutBackIcon"></span>
      <h1>SHOUT</h1>
    </div>

    <!-- jamJar -->
    <div class="popup" id="jarPopup">
      <span class ="glyphicon glyphicon glyphicon-menu-hamburger" id="jarMenu"></span>
      <span class ="glyphicon glyphicon-menu-right" id="jarBackIcon"></span>
      <h1>JAMJAR</h1>
    </div>

    <!-- genre modal -->
    <div class="modal fade bs-example-modal-sm" id="genreModal">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
            <h4 class="modal-title">Genre&nbsp;:</h4>
          </div>
          <div class="modal-body">
            <button class="btn btn-sm gB genre-button" type="button">All</button>
            <button class="btn btn-sm gB genre-button" type="button">Pop</button>
            <button class="btn btn-sm gB genre-button" type="button">Indie/Alt</button>
            <button class="btn btn-sm gB genre-button" type="button">Rap</button>
            <button class="btn btn-sm gB genre-button" type="button">Rock</button>
            <button class="btn btn-sm gB genre-button" type="button">Country</button>
            <button class="btn btn-sm gB genre-button" type="button">R&amp;B</button>
            <button class="btn btn-sm gB genre-button" type="button">Electronic</button>
            <button class="btn btn-sm gB genre-button" type="button">World</button>
            <button class="btn btn-sm gB genre-button" type="button">Other</button>
          </div>
        </div>
      </div>
    </div>

    <!-- user login modal -->
    <div class="modal fade bs-example-modal-sm" id="userModal">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
            <h4 class="modal-title">Login</h4>
          </div>
          <div class="modal-body">
            <p>
              <label class="login-container" for="email">Email:</label>
              <input id='email' type="text" name="email"/>
            </p>
            <p>
              <label class="login-container" for="password">Password:</label>
              <input id='password' type="password" name="password"/>
            </p>
            <button id='login' class="btn btn-sm gB" type="button">Login</button>
            <button id='register' class="btn btn-sm gB" type="button">Register</button>
          </div>
        </div>
      </div>
    </div>

    <!-- user logged in modal -->
    <div class="modal fade bs-example-modal-sm" id="loggedInModal">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
            <h4 class="modal-title">Welcome to Jamshout</h4>
          </div>
          <div class="modal-body">
            <p>
              Manage Profile
            </p>
            <button id='logout' class="btn btn-sm gB" type="button">Logout</button>
          </div>
        </div>
      </div>
    </div>

    <!-- noInternet modal -->
    <div class="modal fade bs-example-modal-sm" id="noInternetModal">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Hey!</h4>
          </div>
          <div class="modal-body">
            No internet connection detected.
            <br>
            <button class="btn btn-sm" type="button" id="refresh">
              <span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;Retry
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- main container -->
    <div class="container-fluid no-padding">

      <!-- feed -->
      <div class="col-xs-12" id="content-view">
      </div>

      <!-- [experiemental] footer -->
      <div id="bottom">
        <span class="glyphicon glyphicon-fire" id="newHot"></span>
        <span class="glyphicon glyphicon-filter" id="genreMenu"></span>
        <audio id="player" controls></audio>
        <span class="glyphicon glyphicon-menu-hamburger" id='userMenu'></span>
      </div>
    </div>
    <!-- ./container -->

    <!-- scripts -->
    <script src="{% static "jamshout/web/js/soundcloud.js" %}"></script>
    <script src="{% static "jamshout/web/js/jquery.js" %}"></script>
    <script src="{% static "jamshout/web/js/bootstrap.js" %}"></script>
    <script src="{% static "jamshout/web/js/main.js" %}"></script>
    <script src="{% static "jamshout/web/js/shout.js" %}"></script>
    <script src="{% static "jamshout/web/js/vote.js" %}"></script>
    <script src="{% static "jamshout/web/js/play.js" %}"></script>

  </body>
</html>
